/* html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
} */

.custom-file-input.selected:lang(en)::after {
	content: "" !important;
}

.custom-file {
	overflow: hidden;
}

.custom-file-input {
	white-space: nowrap;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#myCanvas {
	height: 100%;
	width: 100%;
	background-color: #303134;
}

#uploadimage::before {
	content: "Certificate";
	position: absolute;
	z-index: 2;
	display: block;
	background-color: #eee;
	width: 80px;
}